/***
GRAIGHILLS GROUP
18th November, 2024
All rights reserved.
Stylesheets for single paged website
Developer | Michael Otote CEO OTOTECH INDUSTRIES

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
**/
html{
 -webkit-touch-callout: none;
 -webkit-text-size-adjust: none;
 -webkit-tap-highlight-color: rgba(0,0,0,0);


}
html,body{
    scroll-behavior: smooth;
    scrollbar-width: thin; /* Makes the scrollbar thin */
    scrollbar-color: #02222b  #f1f1f1 !important; /* thumb and track colors */
    overflow-x: hidden;
  
}
*{
  text-transform: capitalize;
}
:root {
    --primary: #023844!important;
    --secondary: #0d0f11;
    --secondary-light: #2b3036;
    --light: #F8F9FA;
    --dark: #030507;
    --variant:#032731 !important;
}
.custom-icon {
    font-size: 1.5rem; /* Adjust this value to make icons bigger */
}
p, ol, ul, span{
    color: var(--secondary);
    opacity: 100 !important;
}
span{
    font-weight: 700;
    opacity: 1 !important;
}
.bold{
  color:var(--primary);
}
h1, h2, h3, h4, h5, h6{
    opacity: 1 !important;
}

a:active{
    color: var(--primary) !important;
}
.m-0{
    font-size: 19px;
}
/*carousel*/

.carousel-caption {
  top: -10% !important;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  text-align: start;
  background: rgba(0, 0, 0, 0.425) !important;
  z-index: 1;
  padding: 10px;
 
}


.carousel-control-prev,
.carousel-control-next {
  width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 4rem;
  height: 4rem;
  background-color: var(--dark);
  border: 15px solid var(--dark);
  border-radius: 50px;
}

.carousel-caption .breadcrumb-item+.breadcrumb-item::before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--primary);
}


/* 
  ---------------------------------------------
  Featured Style
  --------------------------------------------- 
  */

  .featured .image img {
    position: relative;
    width: 150%;
    height: 55vh;
    margin-top: 5%;
    margin-left: 20%;
    
  }


  #servicesDropdown{
    color: var(--primary);
  }

  .featured .section-heading {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
  }

  .featured .section-heading h2 {
    width: 70%;
  }

  .featured .accordion {
    margin-left: 10px;
    margin-right: 10px;
    --bs-accordion-border-radius: 10px;
    --bs-accordion-inner-border-radius: 10px;
    --bs-accordion-bg: #fafafa;
    --bs-accordion-border-color: none;
    border: none !important;
  }

  .featured .accordion-header {
    border-bottom: 1px solid #eaeaea;
  }

  .featured .accordion-button {
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    color: #1e1e1e;
  }

  .featured .accordion-button:not(.collapsed) {
    color: var(--primary);
    background-color: #fafafa;
    outline: none;
  }

  .featured .accordion-button::after {
    display: none;
  }

  .featured #headingThree {
    border-bottom: none;
  }

  .featured .accordion-item:last-of-type .accordion-collapse {
    border-top: 1px solid #eaeaea;
  }
  .property-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.property-item img {
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}

.property-item .border-top {
    border-top: 1px dashed rgba(0, 185, 142, .3) !important;
}

.property-item .border-end {
    border-right: 1px dashed rgba(0, 185, 142, .3) !important;
}

.btn:active{
  background-color: white;
  border: solid 1px var(--variant);
  outline-color: none !important;
  color: var(--variant);
}
.bg-primary{
  background-color: var(--variant) !important;
}
.bg-white, .text-primary{
  color: var(--primary)!important;
}
a:hover{
  opacity: 10 !important;
}
/*** About ***/
.about-img img {
  position: relative;
  z-index: 2;
}

.about-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: var(--primary);
  transform: skew(20deg);
  z-index: 1;
}
.specific{
  color: var(--light) !important;
}
/**SERVICES**/

.service-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  background-image: url(../img/2nd-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.service-content .left-text h4 {
  font-size: 24px;
  font-weight: 500;
  color: #fff !important;
}

 .h4 {
  font-size: 18px;
}

.service-content .left-text .line-dec {
  width: 50px;
  height: 5px;
  background-color: var(--light);
  margin: 10px 0px 20px 0px;
}

.service-content .left-text p {
  color: #fff !important;
  
}

.service-content .left-text ul {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.service-content .left-text ul li {
  margin: 15px 0px;
  font-weight: 600;
  color: #fff !important;
}

.service-content .left-text .primary-button {
  margin: 30px 0px;
}

.service-content .service-item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 30px;
  text-align: center;
  color: #fff !important;
  margin-bottom: 30px;
}

.service-content .service-item .line-dec {
  width: 45px;
  height: 3px;
  background-color: var(--primary);
  margin: 10px auto 15px auto;
}
.service-content .service-item h4, .p{
  color: var(--light) !important;
}


#services{
  margin-top: -5% !important;
}
#contact{
  margin-top: -1% !important;
}


  /**======MOBILE RESPONSIVENESS=============**/
  @media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 45vh !important;
    }
    .navbar{
        padding: 0px;
        margin: 0;
       
    }
    .m-0{
        font-size: 15px;
    }
    .carousel-caption .container{
        margin-top: 90px;
    }
   
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
        background-size: contain;
    }
    #header-carousel h6{
        font-size: 12px;
  
    }
    #header-carousel h1{
        font-size: 22px;
        opacity: 0.5;
    }
    #header-carousel ol>li{
        font-size: 9px;
    }

    .featured .section-heading {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 100px;
    }
    .featured .accordion {
      margin-left: 0px;
      margin-right: 0px;
    }
    .container{
      margin-top: -27%;
     
    }
    #property-listings{
      margin-top: -15%;

    }
    .featured .image img {
      position: relative;
      width: 100%;
      height: 30vh;
      margin-top: 5%;
      margin-left: 0%;
      
    }
    
    .properties .item h6 {
      text-align: center;
      margin-bottom: 15px;
    }
    .properties .item .main-button {
      text-align: center;
    }
    .properties .item ul li {
      margin-right: 10px;
      font-size: 13px;
    }
    
  .service-content {
    padding-top: 5vh;
    text-align: center;
  }

  .service-content .left-text .line-dec {
    width: 45px;
    height: 3px;
    background-color: var(--light);
    margin: 10px auto 20px auto;
  }

  .service-content .left-text ul {
    text-align: left;
  }

  .service-content .service-item {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 30px;
    text-align: center;
    color: #fff !important;
    margin-bottom: 30px;
  }
  #services{
    margin-top: -35% !important;
  }
  .service-content .left-text{
    margin-top: 25% !important;
  }
  #contact{ 
    margin-top: 25% !important;
  }
  
  }
  